/* ********************************** Dependencies ********************************* */

// Packages
import React from 'react';

// UI libray component

// UI local component

// Helpers

/* ********************************** Component ********************************* */
const {{pascalCase name}} = (props) => {
  /* ******************************** CONSTANTS ******************************* */

  /* ********************************** HOOKS ********************************* */

  /* ********************************** VARIABLES ********************************* */

  /* ********************************** CALLBACKS ********************************* */

  /* ********************************** RENDER ********************************* */
  return <div>{{pascalCase name}}</div>;
};

export default {{pascalCase name}};